# Random Selection BIRD Experiments

In [ ]:
import os
import json
import multiprocessing
from tqdm import tqdm
from utils.prompts.prompt_builder import prompt_factory
from utils.data.data_builder import load_data
from utils.llm.ask_llm import run_llm
from third_party.bird_eval.evaluation import reformat_responses
from third_party.bird_eval.evaluation import evaluate_bird
from utils.data.post_process import save_results
from utils.prompts.prompt_builder import get_openai_key

EMBEDDING = None

In [1]:
from openai import OpenAI

# Set the environment variable to provide access to the OpenAI API (set in utils/parameters.py)
os.environ['OPENAI_API_KEY'] = get_openai_key()

# Create the OpenAI client
client = OpenAI()

In [3]:
# Load the BIRD dataset

path_data = "benchmarks"

data = load_data("bird", path_data)

## One-Shot "random" Experiment

In [4]:
# Instantiate a 1-shot random prompt factory using Question Masked Euclidean Distance selection

prompt = prompt_factory(k_shot = 1, repr_type= "SQL", example_format= "QA", selector_type= "RANDOM")(data=data, tokenizer="gpt-3.5-turbo")

In [5]:
# Format all BIRD test questions for 1-shot GPT-3.5-Turbo Text-to-SQL conversion

questions = list()

for i, question_json in enumerate(tqdm(getattr(data, "get_test_json")()), start=1):
    
    question_format = prompt.format(index = i,
                            target=question_json,
                            max_seq_len=2048,
                            max_ans_len =200,
                            scope_factor=100)
    
    questions.append(question_format)

100%|██████████| 1534/1534 [01:10<00:00, 21.75it/s]

In [6]:
# List the model parameters used across the experiment
args = {
    "data_type": "bird",
    "split": "test",
    "tokenizer": "gpt-3.5-turbo",
    "max_seq_length": 2048,
    "prompt_repr": "SQL",
    "k-shot": 1,
    "example_type": "QA",
    "selector_type": "RANDOM",
    "embedding_model": None
}

# Define the task dictionary to save the formatted questions and metadata of the BIRD experiment
task = {
        "args": args,
        "questions": questions
    }

# Save the 1-shot random BIRD prompts to .json file for processing
OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","1-shot")
os.makedirs(OUT_DIR, exist_ok =True)

PROMPTS_FILE = os.path.join(OUT_DIR,"random-prompts-1.json")
json.dump(task, open(PROMPTS_FILE, "w"), indent=4)

In [ ]:
# Send the formatted prompts to the GPT-3.5-TURBO model for response generation

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","1-shot")

RESPONSES_FILE = os.path.join(OUT_DIR,"random-responses-1.txt")

run_llm(PROMPTS_FILE, RESPONSES_FILE, model="gpt-3.5-turbo")

In [ ]:
# Reformat the GPT-3.5-Responses file for use in the BIRD evaluation script

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","1-shot")

RESPONSES_FILE = os.path.join(OUT_DIR,"random-responses-1.txt")

OUT_FILE = os.path.join(OUT_DIR,"random-responses-1.json")

reformat_responses(PROMPTS_FILE, RESPONSES_FILE, OUT_FILE)

In [7]:
# Evaluate the generated GPT-3.5-Turbo responses and save results to file

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","1-shot")

PROMPTS_FILE = os.path.join(OUT_DIR,"random-prompts-1.json")
RESPONSES_TXT = os.path.join(OUT_DIR,"random-responses-1.txt")
RESPONSES_JSON = os.path.join(OUT_DIR,"random-responses-1.json")
RESULTS_FILE = os.path.join(OUT_DIR,"random-results-1.json")

results = evaluate_bird(gold="benchmarks/bird/dev.sql", 
                        pred=RESPONSES_JSON, 
                        db="benchmarks/bird/databases/", 
                        diff_json_path="benchmarks/bird/dev.json",
                        data_mode='dev',
                        num_cpus= multiprocessing.cpu_count())

save_results(PROMPTS_FILE, RESPONSES_TXT, RESULTS_FILE, results)

Result received for query pair 4: {'sql_idx': 4, 'res': 0}
Result received for query pair 2: {'sql_idx': 2, 'res': 0}
Result received for query pair 9: {'sql_idx': 9, 'res': 0}
Result received for query pair 10: {'sql_idx': 10, 'res': 0}
Result received for query pair 7: {'sql_idx': 7, 'res': 1}
Result received for query pair 0: {'sql_idx': 0, 'res': 0}
Result received for query pair 12: {'sql_idx': 12, 'res': 0}
Result received for query pair 8: {'sql_idx': 8, 'res': 1}
Result received for query pair 15: {'sql_idx': 15, 'res': 0}
Result received for query pair 3: {'sql_idx': 3, 'res': 0}
Result received for query pair 17: {'sql_idx': 17, 'res': 1}
Result received for query pair 11: {'sql_idx': 11, 'res': 1}
Result received for query pair 19: {'sql_idx': 19, 'res': 0}
Result received for query pair 14: {'sql_idx': 14, 'res': 0}
Result received for query pair 1: {'sql_idx': 1, 'res': 0}
Result received for query pair 18: {'sql_idx': 18, 'res': 1}
Result received for query pair 22: {'sql_idx': 22, 'res': 0}
Result received for query pair 24: {'sql_idx': 24, 'res': 0}
Result received for query pair 21: {'sql_idx': 21, 'res': 0}
Result received for query pair 16: {'sql_idx': 16, 'res': 1}
Result received for query pair 27: {'sql_idx': 27, 'res': 0}
Result received for query pair 28: {'sql_idx': 28, 'res': 0}
Result received for query pair 5: {'sql_idx': 5, 'res': 1}
Result received for query pair 6: {'sql_idx': 6, 'res': 0}
Result received for query pair 31: {'sql_idx': 31, 'res': 0}
Result received for query pair 32: {'sql_idx': 32, 'res': 0}
Result received for query pair 13: {'sql_idx': 13, 'res': 1}
Result received for query pair 20: {'sql_idx': 20, 'res': 1}
Result received for query pair 29: {'sql_idx': 29, 'res': 0}
Result received for query pair 25: {'sql_idx': 25, 'res': 0}
Result received for query pair 33: {'sql_idx': 33, 'res': 0}
Result received for query pair 36: {'sql_idx': 36, 'res': 0}
Result received for query pair 37: {'sql_idx': 37, 'res': 0}
Result received for query pair 26: {'sql_idx': 26, 'res': 0}
Result received for query pair 41: {'sql_idx': 41, 'res': 0}
Result received for query pair 40: {'sql_idx': 40, 'res': 0}
Result received for query pair 42: {'sql_idx': 42, 'res': 0}
Result received for query pair 44: {'sql_idx': 44, 'res': 1}
Result received for query pair 45: {'sql_idx': 45, 'res': 0}
Result received for query pair 35: {'sql_idx': 35, 'res': 1}
Result received for query pair 46: {'sql_idx': 46, 'res': 0}
Result received for query pair 34: {'sql_idx': 34, 'res': 0}
Result received for query pair 43: {'sql_idx': 43, 'res': 0}
Result received for query pair 38: {'sql_idx': 38, 'res': 1}
Result received for query pair 50: {'sql_idx': 50, 'res': 1}
Result received for query pair 51: {'sql_idx': 51, 'res': 0}
Result received for query pair 23: {'sql_idx': 23, 'res': 0}
Result received for query pair 30: {'sql_idx': 30, 'res': 0}
Result received for query pair 39: {'sql_idx': 39, 'res': 0}
Result received for query pair 47: {'sql_idx': 47, 'res': 0}
Result received for query pair 48: {'sql_idx': 48, 'res': 0}
Result received for query pair 52: {'sql_idx': 52, 'res': 1}
Result received for query pair 59: {'sql_idx': 59, 'res': 0}
Result received for query pair 53: {'sql_idx': 53, 'res': 0}
Result received for query pair 54: {'sql_idx': 54, 'res': 0}
Result received for query pair 55: {'sql_idx': 55, 'res': 0}
Result received for query pair 63: {'sql_idx': 63, 'res': 0}
Result received for query pair 49: {'sql_idx': 49, 'res': 0}
Result received for query pair 57: {'sql_idx': 57, 'res': 1}
Result received for query pair 56: {'sql_idx': 56, 'res': 1}
Result received for query pair 58: {'sql_idx': 58, 'res': 1}
Result received for query pair 60: {'sql_idx': 60, 'res': 1}
Result received for query pair 61: {'sql_idx': 61, 'res': 1}
Result received for query pair 62: {'sql_idx': 62, 'res': 1}
Result received for query pair 71: {'sql_idx': 71, 'res': 0}
Result received for query pair 72: {'sql_idx': 72, 'res': 0}
Result received for query pair 64: {'sql_idx': 64, 'res': 1}
Result received for query pair 73: {'sql_idx': 73, 'res': 0}
Result received for query pair 74: {'sql_idx': 74, 'res': 0}
Result received for query pair 76: {'sql_idx': 76, 'res': 0}
Result received for query pair 67: {'sql_idx': 67, 'res': 0}
Result received for query pair 75: {'sql_idx': 75, 'res': 0}
Result received for query pair 78: {'sql_idx': 78, 'res': 0}
Result received for query pair 80: {'sql_idx': 80, 'res': 0}
Result received for query pair 81: {'sql_idx': 81, 'res': 0}
Result received for query pair 82: {'sql_idx': 82, 'res': 0}
Result received for query pair 83: {'sql_idx': 83, 'res': 0}
Result received for query pair 66: {'sql_idx': 66, 'res': 0}
Result received for query pair 68: {'sql_idx': 68, 'res': 0}
Result received for query pair 86: {'sql_idx': 86, 'res': 0}
Result received for query pair 65: {'sql_idx': 65, 'res': 0}
Result received for query pair 88: {'sql_idx': 88, 'res': 0}
Result received for query pair 69: {'sql_idx': 69, 'res': 1}
Result received for query pair 70: {'sql_idx': 70, 'res': 0}
Result received for query pair 91: {'sql_idx': 91, 'res': 0}
Result received for query pair 77: {'sql_idx': 77, 'res': 0}
Result received for query pair 90: {'sql_idx': 90, 'res': 0}
Result received for query pair 89: {'sql_idx': 89, 'res': 1}
Result received for query pair 93: {'sql_idx': 93, 'res': 1}
Result received for query pair 92: {'sql_idx': 92, 'res': 0}
Result received for query pair 94: {'sql_idx': 94, 'res': 0}
Result received for query pair 95: {'sql_idx': 95, 'res': 0}
Result received for query pair 97: {'sql_idx': 97, 'res': 0}
Result received for query pair 79: {'sql_idx': 79, 'res': 1}
Result received for query pair 96: {'sql_idx': 96, 'res': 1}
Result received for query pair 98: {'sql_idx': 98, 'res': 0}
Result received for query pair 99: {'sql_idx': 99, 'res': 0}
Result received for query pair 103: {'sql_idx': 103, 'res': 1}
Result received for query pair 105: {'sql_idx': 105, 'res': 1}
Result received for query pair 106: {'sql_idx': 106, 'res': 0}
Result received for query pair 87: {'sql_idx': 87, 'res': 0}
Result received for query pair 100: {'sql_idx': 100, 'res': 1}
Result received for query pair 85: {'sql_idx': 85, 'res': 0}
Result received for query pair 107: {'sql_idx': 107, 'res': 0}
Result received for query pair 109: {'sql_idx': 109, 'res': 1}
Result received for query pair 112: {'sql_idx': 112, 'res': 0}
Result received for query pair 111: {'sql_idx': 111, 'res': 1}
Result received for query pair 114: {'sql_idx': 114, 'res': 0}
Result received for query pair 113: {'sql_idx': 113, 'res': 0}
Result received for query pair 115: {'sql_idx': 115, 'res': 0}
Result received for query pair 117: {'sql_idx': 117, 'res': 0}
Result received for query pair 118: {'sql_idx': 118, 'res': 0}
Result received for query pair 119: {'sql_idx': 119, 'res': 0}
Result received for query pair 84: {'sql_idx': 84, 'res': 0}
Result received for query pair 120: {'sql_idx': 120, 'res': 0}
Result received for query pair 121: {'sql_idx': 121, 'res': 1}
Result received for query pair 122: {'sql_idx': 122, 'res': 1}
Result received for query pair 124: {'sql_idx': 124, 'res': 0}
Result received for query pair 123: {'sql_idx': 123, 'res': 1}
Result received for query pair 126: {'sql_idx': 126, 'res': 1}
Result received for query pair 125: {'sql_idx': 125, 'res': 0}
Result received for query pair 128: {'sql_idx': 128, 'res': 0}
Result received for query pair 127: {'sql_idx': 127, 'res': 1}
Result received for query pair 130: {'sql_idx': 130, 'res': 0}
Result received for query pair 131: {'sql_idx': 131, 'res': 0}
Result received for query pair 132: {'sql_idx': 132, 'res': 0}
Result received for query pair 133: {'sql_idx': 133, 'res': 0}
Result received for query pair 134: {'sql_idx': 134, 'res': 1}
Result received for query pair 135: {'sql_idx': 135, 'res': 0}
Result received for query pair 101: {'sql_idx': 101, 'res': 0}
Result received for query pair 136: {'sql_idx': 136, 'res': 0}
Result received for query pair 137: {'sql_idx': 137, 'res': 1}
Result received for query pair 138: {'sql_idx': 138, 'res': 1}
Result received for query pair 140: {'sql_idx': 140, 'res': 1}
Result received for query pair 139: {'sql_idx': 139, 'res': 1}
Result received for query pair 104: {'sql_idx': 104, 'res': 1}
Result received for query pair 143: {'sql_idx': 143, 'res': 0}
Result received for query pair 110: {'sql_idx': 110, 'res': 0}
Result received for query pair 108: {'sql_idx': 108, 'res': 0}
Result received for query pair 102: {'sql_idx': 102, 'res': 0}
Result received for query pair 147: {'sql_idx': 147, 'res': 0}
Result received for query pair 146: {'sql_idx': 146, 'res': 0}
Result received for query pair 149: {'sql_idx': 149, 'res': 1}
Result received for query pair 148: {'sql_idx': 148, 'res': 1}
Result received for query pair 150: {'sql_idx': 150, 'res': 0}
Result received for query pair 116: {'sql_idx': 116, 'res': 0}
Result received for query pair 152: {'sql_idx': 152, 'res': 0}
Result received for query pair 153: {'sql_idx': 153, 'res': 0}
Result received for query pair 155: {'sql_idx': 155, 'res': 0}
Result received for query pair 154: {'sql_idx': 154, 'res': 1}
Result received for query pair 157: {'sql_idx': 157, 'res': 1}
Result received for query pair 158: {'sql_idx': 158, 'res': 1}
Result received for query pair 156: {'sql_idx': 156, 'res': 0}
Result received for query pair 160: {'sql_idx': 160, 'res': 1}
Result received for query pair 161: {'sql_idx': 161, 'res': 0}
Result received for query pair 142: {'sql_idx': 142, 'res': 0}
Result received for query pair 162: {'sql_idx': 162, 'res': 0}
Result received for query pair 163: {'sql_idx': 163, 'res': 0}
Result received for query pair 164: {'sql_idx': 164, 'res': 0}
Result received for query pair 129: {'sql_idx': 129, 'res': 0}
Result received for query pair 166: {'sql_idx': 166, 'res': 1}
Result received for query pair 167: {'sql_idx': 167, 'res': 0}
Result received for query pair 169: {'sql_idx': 169, 'res': 0}
Result received for query pair 168: {'sql_idx': 168, 'res': 0}
Result received for query pair 171: {'sql_idx': 171, 'res': 0}
Result received for query pair 172: {'sql_idx': 172, 'res': 0}
Result received for query pair 173: {'sql_idx': 173, 'res': 0}
Result received for query pair 174: {'sql_idx': 174, 'res': 0}
Result received for query pair 175: {'sql_idx': 175, 'res': 0}
Result received for query pair 176: {'sql_idx': 176, 'res': 0}
Result received for query pair 177: {'sql_idx': 177, 'res': 0}
Result received for query pair 178: {'sql_idx': 178, 'res': 0}
Result received for query pair 165: {'sql_idx': 165, 'res': 0}
Result received for query pair 180: {'sql_idx': 180, 'res': 0}
Result received for query pair 141: {'sql_idx': 141, 'res': 1}
Result received for query pair 159: {'sql_idx': 159, 'res': 0}
Result received for query pair 183: {'sql_idx': 183, 'res': 0}
Result received for query pair 184: {'sql_idx': 184, 'res': 0}
Result received for query pair 185: {'sql_idx': 185, 'res': 0}
Result received for query pair 186: {'sql_idx': 186, 'res': 0}
Result received for query pair 187: {'sql_idx': 187, 'res': 0}
Result received for query pair 188: {'sql_idx': 188, 'res': 1}
Result received for query pair 189: {'sql_idx': 189, 'res': 0}
Result received for query pair 190: {'sql_idx': 190, 'res': 1}
Result received for query pair 191: {'sql_idx': 191, 'res': 1}
Result received for query pair 144: {'sql_idx': 144, 'res': 1}
Result received for query pair 193: {'sql_idx': 193, 'res': 0}
Result received for query pair 194: {'sql_idx': 194, 'res': 0}
Result received for query pair 151: {'sql_idx': 151, 'res': 1}
Result received for query pair 196: {'sql_idx': 196, 'res': 1}
Result received for query pair 195: {'sql_idx': 195, 'res': 0}
Result received for query pair 197: {'sql_idx': 197, 'res': 0}
Result received for query pair 199: {'sql_idx': 199, 'res': 0}
Result received for query pair 200: {'sql_idx': 200, 'res': 1}
Result received for query pair 201: {'sql_idx': 201, 'res': 0}
Result received for query pair 170: {'sql_idx': 170, 'res': 0}
Result received for query pair 202: {'sql_idx': 202, 'res': 1}
Result received for query pair 204: {'sql_idx': 204, 'res': 1}
Result received for query pair 203: {'sql_idx': 203, 'res': 1}
Result received for query pair 205: {'sql_idx': 205, 'res': 0}
Result received for query pair 206: {'sql_idx': 206, 'res': 1}
Result received for query pair 208: {'sql_idx': 208, 'res': 1}
Result received for query pair 209: {'sql_idx': 209, 'res': 0}
Result received for query pair 210: {'sql_idx': 210, 'res': 0}
Result received for query pair 211: {'sql_idx': 211, 'res': 0}
Result received for query pair 192: {'sql_idx': 192, 'res': 0}
Result received for query pair 212: {'sql_idx': 212, 'res': 0}
Result received for query pair 213: {'sql_idx': 213, 'res': 1}
Result received for query pair 214: {'sql_idx': 214, 'res': 1}
Result received for query pair 216: {'sql_idx': 216, 'res': 0}
Result received for query pair 207: {'sql_idx': 207, 'res': 0}
Result received for query pair 218: {'sql_idx': 218, 'res': 0}
Result received for query pair 219: {'sql_idx': 219, 'res': 0}
Result received for query pair 220: {'sql_idx': 220, 'res': 0}
Result received for query pair 179: {'sql_idx': 179, 'res': 0}
Result received for query pair 217: {'sql_idx': 217, 'res': 0}
Result received for query pair 222: {'sql_idx': 222, 'res': 1}
Result received for query pair 223: {'sql_idx': 223, 'res': 0}
Result received for query pair 221: {'sql_idx': 221, 'res': 0}
Result received for query pair 225: {'sql_idx': 225, 'res': 0}
Result received for query pair 226: {'sql_idx': 226, 'res': 0}
Result received for query pair 224: {'sql_idx': 224, 'res': 1}
Result received for query pair 227: {'sql_idx': 227, 'res': 0}
Result received for query pair 228: {'sql_idx': 228, 'res': 0}
Result received for query pair 229: {'sql_idx': 229, 'res': 1}
Result received for query pair 231: {'sql_idx': 231, 'res': 0}
Result received for query pair 230: {'sql_idx': 230, 'res': 1}
Result received for query pair 215: {'sql_idx': 215, 'res': 0}
Result received for query pair 232: {'sql_idx': 232, 'res': 0}
Result received for query pair 235: {'sql_idx': 235, 'res': 1}
Result received for query pair 237: {'sql_idx': 237, 'res': 0}
Result received for query pair 234: {'sql_idx': 234, 'res': 0}
Result received for query pair 238: {'sql_idx': 238, 'res': 1}
Result received for query pair 233: {'sql_idx': 233, 'res': 0}
Result received for query pair 236: {'sql_idx': 236, 'res': 0}
Result received for query pair 241: {'sql_idx': 241, 'res': 1}
Result received for query pair 243: {'sql_idx': 243, 'res': 0}
Result received for query pair 240: {'sql_idx': 240, 'res': 1}
Result received for query pair 242: {'sql_idx': 242, 'res': 0}
Result received for query pair 239: {'sql_idx': 239, 'res': 0}
Result received for query pair 244: {'sql_idx': 244, 'res': 0}
Result received for query pair 246: {'sql_idx': 246, 'res': 0}
Result received for query pair 245: {'sql_idx': 245, 'res': 0}
Result received for query pair 249: {'sql_idx': 249, 'res': 0}
Result received for query pair 250: {'sql_idx': 250, 'res': 0}
Result received for query pair 247: {'sql_idx': 247, 'res': 0}
Result received for query pair 252: {'sql_idx': 252, 'res': 0}
Result received for query pair 251: {'sql_idx': 251, 'res': 0}
Result received for query pair 254: {'sql_idx': 254, 'res': 0}
Result received for query pair 248: {'sql_idx': 248, 'res': 0}
Result received for query pair 255: {'sql_idx': 255, 'res': 0}
Result received for query pair 256: {'sql_idx': 256, 'res': 1}
Result received for query pair 257: {'sql_idx': 257, 'res': 1}
Result received for query pair 198: {'sql_idx': 198, 'res': 0}
Result received for query pair 253: {'sql_idx': 253, 'res': 0}
Result received for query pair 261: {'sql_idx': 261, 'res': 1}
Result received for query pair 258: {'sql_idx': 258, 'res': 0}
Result received for query pair 263: {'sql_idx': 263, 'res': 0}
Result received for query pair 264: {'sql_idx': 264, 'res': 0}
Result received for query pair 265: {'sql_idx': 265, 'res': 1}
Result received for query pair 262: {'sql_idx': 262, 'res': 1}
Result received for query pair 266: {'sql_idx': 266, 'res': 1}
Result received for query pair 268: {'sql_idx': 268, 'res': 0}
Result received for query pair 269: {'sql_idx': 269, 'res': 0}
Result received for query pair 267: {'sql_idx': 267, 'res': 0}
Result received for query pair 260: {'sql_idx': 260, 'res': 1}
Result received for query pair 273: {'sql_idx': 273, 'res': 0}
Result received for query pair 271: {'sql_idx': 271, 'res': 0}
Result received for query pair 270: {'sql_idx': 270, 'res': 0}
Result received for query pair 274: {'sql_idx': 274, 'res': 1}
Result received for query pair 275: {'sql_idx': 275, 'res': 0}
Result received for query pair 272: {'sql_idx': 272, 'res': 0}
Result received for query pair 279: {'sql_idx': 279, 'res': 1}
Result received for query pair 277: {'sql_idx': 277, 'res': 0}
Result received for query pair 281: {'sql_idx': 281, 'res': 0}
Result received for query pair 278: {'sql_idx': 278, 'res': 0}
Result received for query pair 282: {'sql_idx': 282, 'res': 0}
Result received for query pair 280: {'sql_idx': 280, 'res': 1}
Result received for query pair 283: {'sql_idx': 283, 'res': 1}
Result received for query pair 276: {'sql_idx': 276, 'res': 1}
Result received for query pair 286: {'sql_idx': 286, 'res': 0}
Result received for query pair 287: {'sql_idx': 287, 'res': 0}
Result received for query pair 288: {'sql_idx': 288, 'res': 1}
Result received for query pair 289: {'sql_idx': 289, 'res': 0}
Result received for query pair 285: {'sql_idx': 285, 'res': 1}
Result received for query pair 291: {'sql_idx': 291, 'res': 1}
Result received for query pair 290: {'sql_idx': 290, 'res': 0}
Result received for query pair 284: {'sql_idx': 284, 'res': 1}
Result received for query pair 292: {'sql_idx': 292, 'res': 1}
Result received for query pair 294: {'sql_idx': 294, 'res': 0}
Result received for query pair 296: {'sql_idx': 296, 'res': 0}
Result received for query pair 293: {'sql_idx': 293, 'res': 1}
Result received for query pair 298: {'sql_idx': 298, 'res': 0}
Result received for query pair 299: {'sql_idx': 299, 'res': 1}
Result received for query pair 297: {'sql_idx': 297, 'res': 0}
Result received for query pair 300: {'sql_idx': 300, 'res': 1}
Result received for query pair 301: {'sql_idx': 301, 'res': 0}
Result received for query pair 303: {'sql_idx': 303, 'res': 0}
Result received for query pair 302: {'sql_idx': 302, 'res': 1}
Result received for query pair 304: {'sql_idx': 304, 'res': 0}
Result received for query pair 306: {'sql_idx': 306, 'res': 0}
Result received for query pair 307: {'sql_idx': 307, 'res': 1}
Result received for query pair 309: {'sql_idx': 309, 'res': 0}
Result received for query pair 310: {'sql_idx': 310, 'res': 0}
Result received for query pair 308: {'sql_idx': 308, 'res': 0}
Result received for query pair 312: {'sql_idx': 312, 'res': 1}
Result received for query pair 145: {'sql_idx': 145, 'res': 0}
Result received for query pair 313: {'sql_idx': 313, 'res': 1}
Result received for query pair 305: {'sql_idx': 305, 'res': 1}
Result received for query pair 314: {'sql_idx': 314, 'res': 1}
Result received for query pair 317: {'sql_idx': 317, 'res': 0}
Result received for query pair 315: {'sql_idx': 315, 'res': 0}
Result received for query pair 318: {'sql_idx': 318, 'res': 1}
Result received for query pair 316: {'sql_idx': 316, 'res': 1}
Result received for query pair 320: {'sql_idx': 320, 'res': 1}
Result received for query pair 321: {'sql_idx': 321, 'res': 0}
Result received for query pair 319: {'sql_idx': 319, 'res': 0}
Result received for query pair 322: {'sql_idx': 322, 'res': 0}
Result received for query pair 323: {'sql_idx': 323, 'res': 1}
Result received for query pair 325: {'sql_idx': 325, 'res': 1}

## 3-Shot "random" Experiment

In [8]:
# Instantiate a 3-shot random prompt factory using Question Masked Euclidean Distance selection

prompt = prompt_factory(k_shot = 3, repr_type= "SQL", example_format= "QA", selector_type= "RANDOM", embedding_model= None)(data=data, tokenizer="gpt-3.5-turbo")

In [9]:
# Format all BIRD test questions for 3-shot GPT-3.5-Turbo Text-to-SQL conversion

questions = list()

for i, question_json in enumerate(tqdm(getattr(data, "get_test_json")()), start=1):
    
    question_format = prompt.format(index = i,
                            target=question_json,
                            max_seq_len=2048,
                            max_ans_len =200,
                            scope_factor=100)
    
    questions.append(question_format)

100%|██████████| 1534/1534 [03:40<00:00,  6.94it/s]

In [10]:
# List the model parameters used across the BIRD experiment
args = {
    "data_type": "bird",
    "split": "test",
    "tokenizer": "gpt-3.5-turbo",
    "max_seq_length": 2048,
    "prompt_repr": "SQL",
    "k-shot": 3,
    "example_type": "QA",
    "selector_type": "RANDOM",
    "embedding_model": None
}


# Define the task dictionary to save the formatted questions and metadata of the BIRD experiment
task = {
        "args": args,
        "questions": questions
    }


# Save the 3-shot random BIRD prompts to .json file for processing

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","3-shot")
os.makedirs(OUT_DIR, exist_ok =True)

PROMPTS_FILE = os.path.join(OUT_DIR,"random-prompts-3.json")
json.dump(task, open(PROMPTS_FILE, "w"), indent=4)

In [ ]:
# Send the formatted prompts to the GPT-3.5-TURBO model for response generation

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","3-shot")

RESPONSES_FILE = os.path.join(OUT_DIR,"random-responses-3.txt")

run_llm(PROMPTS_FILE, RESPONSES_FILE, model="gpt-3.5-turbo")

In [ ]:
# Reformat the GPT-3.5-Responses file for use in the BIRD evaluation script

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","3-shot")

RESPONSES_FILE = os.path.join(OUT_DIR,"random-responses-3.txt")

OUT_FILE = os.path.join(OUT_DIR,"random-responses-3.json")

reformat_responses(PROMPTS_FILE, RESPONSES_FILE, OUT_FILE)

In [11]:
# Evaluate the generated GPT-3.5-Turbo responses and save results to file

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","3-shot")

PROMPTS_FILE = os.path.join(OUT_DIR,"random-prompts-3.json")
RESPONSES_TXT = os.path.join(OUT_DIR,"random-responses-3.txt")
RESPONSES_JSON = os.path.join(OUT_DIR,"random-responses-3.json")
RESULTS_FILE = os.path.join(OUT_DIR,"random-results-3.json")

results = evaluate_bird(gold="benchmarks/bird/dev.sql", 
                        pred=RESPONSES_JSON, 
                        db="benchmarks/bird/databases/", 
                        diff_json_path="benchmarks/bird/dev.json",
                        data_mode='dev',
                        num_cpus= multiprocessing.cpu_count())

save_results(PROMPTS_FILE, RESPONSES_TXT, RESULTS_FILE, results)

Result received for query pair 1: {'sql_idx': 1, 'res': 0}
Result received for query pair 5: {'sql_idx': 5, 'res': 0}
Result received for query pair 6: {'sql_idx': 6, 'res': 0}
Result received for query pair 10: {'sql_idx': 10, 'res': 0}
Result received for query pair 0: {'sql_idx': 0, 'res': 0}
Result received for query pair 12: {'sql_idx': 12, 'res': 0}
Result received for query pair 8: {'sql_idx': 8, 'res': 1}
Result received for query pair 7: {'sql_idx': 7, 'res': 1}
Result received for query pair 3: {'sql_idx': 3, 'res': 0}
Result received for query pair 15: {'sql_idx': 15, 'res': 0}
Result received for query pair 17: {'sql_idx': 17, 'res': 0}
Result received for query pair 11: {'sql_idx': 11, 'res': 1}
Result received for query pair 19: {'sql_idx': 19, 'res': 0}
Result received for query pair 13: {'sql_idx': 13, 'res': 0}
Result received for query pair 2: {'sql_idx': 2, 'res': 0}
Result received for query pair 18: {'sql_idx': 18, 'res': 1}
Result received for query pair 9: {'sql_idx': 9, 'res': 0}
Result received for query pair 16: {'sql_idx': 16, 'res': 1}
Result received for query pair 20: {'sql_idx': 20, 'res': 1}
Result received for query pair 4: {'sql_idx': 4, 'res': 0}
Result received for query pair 27: {'sql_idx': 27, 'res': 0}
Result received for query pair 28: {'sql_idx': 28, 'res': 0}
Result received for query pair 21: {'sql_idx': 21, 'res': 1}
Result received for query pair 22: {'sql_idx': 22, 'res': 0}
Result received for query pair 24: {'sql_idx': 24, 'res': 1}
Result received for query pair 32: {'sql_idx': 32, 'res': 0}
Result received for query pair 33: {'sql_idx': 33, 'res': 0}
Result received for query pair 14: {'sql_idx': 14, 'res': 0}
Result received for query pair 31: {'sql_idx': 31, 'res': 0}
Result received for query pair 29: {'sql_idx': 29, 'res': 1}
Result received for query pair 26: {'sql_idx': 26, 'res': 0}
Result received for query pair 36: {'sql_idx': 36, 'res': 0}
Result received for query pair 25: {'sql_idx': 25, 'res': 0}
Result received for query pair 40: {'sql_idx': 40, 'res': 0}
Result received for query pair 35: {'sql_idx': 35, 'res': 1}
Result received for query pair 42: {'sql_idx': 42, 'res': 0}
Result received for query pair 43: {'sql_idx': 43, 'res': 0}
Result received for query pair 23: {'sql_idx': 23, 'res': 0}
Result received for query pair 44: {'sql_idx': 44, 'res': 1}
Result received for query pair 46: {'sql_idx': 46, 'res': 0}
Result received for query pair 37: {'sql_idx': 37, 'res': 0}
Result received for query pair 34: {'sql_idx': 34, 'res': 1}
Result received for query pair 30: {'sql_idx': 30, 'res': 0}
Result received for query pair 38: {'sql_idx': 38, 'res': 0}
Result received for query pair 51: {'sql_idx': 51, 'res': 0}
Result received for query pair 41: {'sql_idx': 41, 'res': 0}
Result received for query pair 39: {'sql_idx': 39, 'res': 0}
Result received for query pair 47: {'sql_idx': 47, 'res': 0}
Result received for query pair 50: {'sql_idx': 50, 'res': 1}
Result received for query pair 45: {'sql_idx': 45, 'res': 1}
Result received for query pair 52: {'sql_idx': 52, 'res': 1}
Result received for query pair 57: {'sql_idx': 57, 'res': 1}
Result received for query pair 53: {'sql_idx': 53, 'res': 0}
Result received for query pair 48: {'sql_idx': 48, 'res': 0}
Result received for query pair 54: {'sql_idx': 54, 'res': 0}
Result received for query pair 56: {'sql_idx': 56, 'res': 0}
Result received for query pair 63: {'sql_idx': 63, 'res': 0}
Result received for query pair 55: {'sql_idx': 55, 'res': 0}
Result received for query pair 65: {'sql_idx': 65, 'res': 0}
Result received for query pair 58: {'sql_idx': 58, 'res': 1}
Result received for query pair 67: {'sql_idx': 67, 'res': 0}
Result received for query pair 49: {'sql_idx': 49, 'res': 0}
Result received for query pair 60: {'sql_idx': 60, 'res': 0}
Result received for query pair 59: {'sql_idx': 59, 'res': 1}
Result received for query pair 61: {'sql_idx': 61, 'res': 1}
Result received for query pair 72: {'sql_idx': 72, 'res': 0}
Result received for query pair 64: {'sql_idx': 64, 'res': 1}
Result received for query pair 74: {'sql_idx': 74, 'res': 0}
Result received for query pair 62: {'sql_idx': 62, 'res': 0}
Result received for query pair 76: {'sql_idx': 76, 'res': 0}
Result received for query pair 66: {'sql_idx': 66, 'res': 0}
Result received for query pair 78: {'sql_idx': 78, 'res': 0}
Result received for query pair 75: {'sql_idx': 75, 'res': 0}
Result received for query pair 80: {'sql_idx': 80, 'res': 0}
Result received for query pair 81: {'sql_idx': 81, 'res': 0}
Result received for query pair 68: {'sql_idx': 68, 'res': 0}
Result received for query pair 69: {'sql_idx': 69, 'res': 1}
Result received for query pair 83: {'sql_idx': 83, 'res': 0}
Result received for query pair 71: {'sql_idx': 71, 'res': 1}
Result received for query pair 70: {'sql_idx': 70, 'res': 0}
Result received for query pair 86: {'sql_idx': 86, 'res': 0}
Result received for query pair 87: {'sql_idx': 87, 'res': 0}
Result received for query pair 73: {'sql_idx': 73, 'res': 0}
Result received for query pair 88: {'sql_idx': 88, 'res': 0}
Result received for query pair 77: {'sql_idx': 77, 'res': 0}
Result received for query pair 79: {'sql_idx': 79, 'res': 0}
Result received for query pair 91: {'sql_idx': 91, 'res': 1}
Result received for query pair 89: {'sql_idx': 89, 'res': 1}
Result received for query pair 90: {'sql_idx': 90, 'res': 0}
Result received for query pair 95: {'sql_idx': 95, 'res': 0}
Result received for query pair 93: {'sql_idx': 93, 'res': 1}
Result received for query pair 85: {'sql_idx': 85, 'res': 0}
Result received for query pair 97: {'sql_idx': 97, 'res': 0}
Result received for query pair 98: {'sql_idx': 98, 'res': 0}
Result received for query pair 94: {'sql_idx': 94, 'res': 0}
Result received for query pair 82: {'sql_idx': 82, 'res': 0}
Result received for query pair 96: {'sql_idx': 96, 'res': 1}
Result received for query pair 92: {'sql_idx': 92, 'res': 0}
Result received for query pair 103: {'sql_idx': 103, 'res': 1}
Result received for query pair 105: {'sql_idx': 105, 'res': 1}
Result received for query pair 100: {'sql_idx': 100, 'res': 1}
Result received for query pair 99: {'sql_idx': 99, 'res': 0}
Result received for query pair 107: {'sql_idx': 107, 'res': 0}
Result received for query pair 109: {'sql_idx': 109, 'res': 1}
Result received for query pair 110: {'sql_idx': 110, 'res': 0}
Result received for query pair 112: {'sql_idx': 112, 'res': 0}
Result received for query pair 111: {'sql_idx': 111, 'res': 1}
Result received for query pair 113: {'sql_idx': 113, 'res': 0}
Result received for query pair 115: {'sql_idx': 115, 'res': 0}
Result received for query pair 84: {'sql_idx': 84, 'res': 0}
Result received for query pair 117: {'sql_idx': 117, 'res': 0}
Result received for query pair 118: {'sql_idx': 118, 'res': 0}
Result received for query pair 119: {'sql_idx': 119, 'res': 0}
Result received for query pair 120: {'sql_idx': 120, 'res': 0}
Result received for query pair 121: {'sql_idx': 121, 'res': 1}
Result received for query pair 122: {'sql_idx': 122, 'res': 1}
Result received for query pair 123: {'sql_idx': 123, 'res': 0}
Result received for query pair 114: {'sql_idx': 114, 'res': 1}
Result received for query pair 125: {'sql_idx': 125, 'res': 0}
Result received for query pair 124: {'sql_idx': 124, 'res': 0}
Result received for query pair 126: {'sql_idx': 126, 'res': 1}
Result received for query pair 127: {'sql_idx': 127, 'res': 1}
Result received for query pair 128: {'sql_idx': 128, 'res': 0}
Result received for query pair 130: {'sql_idx': 130, 'res': 0}
Result received for query pair 131: {'sql_idx': 131, 'res': 0}
Result received for query pair 132: {'sql_idx': 132, 'res': 0}
Result received for query pair 133: {'sql_idx': 133, 'res': 0}
Result received for query pair 134: {'sql_idx': 134, 'res': 1}
Result received for query pair 135: {'sql_idx': 135, 'res': 0}
Result received for query pair 136: {'sql_idx': 136, 'res': 0}
Result received for query pair 137: {'sql_idx': 137, 'res': 0}
Result received for query pair 138: {'sql_idx': 138, 'res': 1}
Result received for query pair 139: {'sql_idx': 139, 'res': 1}
Result received for query pair 140: {'sql_idx': 140, 'res': 1}
Result received for query pair 141: {'sql_idx': 141, 'res': 0}
Result received for query pair 142: {'sql_idx': 142, 'res': 0}
Result received for query pair 143: {'sql_idx': 143, 'res': 0}
Result received for query pair 144: {'sql_idx': 144, 'res': 0}
Result received for query pair 104: {'sql_idx': 104, 'res': 1}
Result received for query pair 146: {'sql_idx': 146, 'res': 0}
Result received for query pair 147: {'sql_idx': 147, 'res': 1}
Result received for query pair 148: {'sql_idx': 148, 'res': 1}
Result received for query pair 149: {'sql_idx': 149, 'res': 0}
Result received for query pair 129: {'sql_idx': 129, 'res': 0}
Result received for query pair 102: {'sql_idx': 102, 'res': 1}
Result received for query pair 152: {'sql_idx': 152, 'res': 0}
Result received for query pair 153: {'sql_idx': 153, 'res': 0}
Result received for query pair 154: {'sql_idx': 154, 'res': 1}
Result received for query pair 155: {'sql_idx': 155, 'res': 0}
Result received for query pair 156: {'sql_idx': 156, 'res': 1}
Result received for query pair 157: {'sql_idx': 157, 'res': 1}
Result received for query pair 158: {'sql_idx': 158, 'res': 1}
Result received for query pair 150: {'sql_idx': 150, 'res': 0}
Result received for query pair 160: {'sql_idx': 160, 'res': 1}
Result received for query pair 161: {'sql_idx': 161, 'res': 0}
Result received for query pair 162: {'sql_idx': 162, 'res': 0}
Result received for query pair 163: {'sql_idx': 163, 'res': 0}
Result received for query pair 164: {'sql_idx': 164, 'res': 0}
Result received for query pair 101: {'sql_idx': 101, 'res': 0}
Result received for query pair 166: {'sql_idx': 166, 'res': 1}
Result received for query pair 167: {'sql_idx': 167, 'res': 0}
Result received for query pair 168: {'sql_idx': 168, 'res': 0}
Result received for query pair 169: {'sql_idx': 169, 'res': 0}
Result received for query pair 151: {'sql_idx': 151, 'res': 1}
Result received for query pair 171: {'sql_idx': 171, 'res': 0}
Result received for query pair 172: {'sql_idx': 172, 'res': 0}
Result received for query pair 173: {'sql_idx': 173, 'res': 0}
Result received for query pair 174: {'sql_idx': 174, 'res': 0}
Result received for query pair 175: {'sql_idx': 175, 'res': 1}
Result received for query pair 176: {'sql_idx': 176, 'res': 0}
Result received for query pair 177: {'sql_idx': 177, 'res': 0}
Result received for query pair 178: {'sql_idx': 178, 'res': 1}
Result received for query pair 159: {'sql_idx': 159, 'res': 0}
Result received for query pair 180: {'sql_idx': 180, 'res': 0}
Result received for query pair 181: {'sql_idx': 181, 'res': 0}
Result received for query pair 182: {'sql_idx': 182, 'res': 0}
Result received for query pair 183: {'sql_idx': 183, 'res': 0}
Result received for query pair 184: {'sql_idx': 184, 'res': 0}
Result received for query pair 165: {'sql_idx': 165, 'res': 0}
Result received for query pair 185: {'sql_idx': 185, 'res': 0}
Result received for query pair 187: {'sql_idx': 187, 'res': 1}
Result received for query pair 188: {'sql_idx': 188, 'res': 1}
Result received for query pair 189: {'sql_idx': 189, 'res': 0}
Result received for query pair 190: {'sql_idx': 190, 'res': 1}
Result received for query pair 191: {'sql_idx': 191, 'res': 1}
Result received for query pair 192: {'sql_idx': 192, 'res': 0}
Result received for query pair 186: {'sql_idx': 186, 'res': 0}
Result received for query pair 194: {'sql_idx': 194, 'res': 0}
Result received for query pair 193: {'sql_idx': 193, 'res': 0}
Result received for query pair 116: {'sql_idx': 116, 'res': 0}
Result received for query pair 196: {'sql_idx': 196, 'res': 1}
Result received for query pair 195: {'sql_idx': 195, 'res': 1}
Result received for query pair 199: {'sql_idx': 199, 'res': 0}
Result received for query pair 200: {'sql_idx': 200, 'res': 1}
Result received for query pair 201: {'sql_idx': 201, 'res': 0}
Result received for query pair 202: {'sql_idx': 202, 'res': 1}
Result received for query pair 203: {'sql_idx': 203, 'res': 1}
Result received for query pair 204: {'sql_idx': 204, 'res': 1}
Result received for query pair 205: {'sql_idx': 205, 'res': 0}
Result received for query pair 197: {'sql_idx': 197, 'res': 0}
Result received for query pair 145: {'sql_idx': 145, 'res': 0}
Result received for query pair 208: {'sql_idx': 208, 'res': 1}
Result received for query pair 206: {'sql_idx': 206, 'res': 1}
Result received for query pair 210: {'sql_idx': 210, 'res': 0}
Result received for query pair 209: {'sql_idx': 209, 'res': 0}
Result received for query pair 212: {'sql_idx': 212, 'res': 0}
Result received for query pair 213: {'sql_idx': 213, 'res': 1}
Result received for query pair 198: {'sql_idx': 198, 'res': 0}
Result received for query pair 214: {'sql_idx': 214, 'res': 0}
Result received for query pair 216: {'sql_idx': 216, 'res': 0}
Result received for query pair 211: {'sql_idx': 211, 'res': 0}
Result received for query pair 218: {'sql_idx': 218, 'res': 0}
Result received for query pair 207: {'sql_idx': 207, 'res': 0}
Result received for query pair 220: {'sql_idx': 220, 'res': 0}
Result received for query pair 221: {'sql_idx': 221, 'res': 0}
Result received for query pair 219: {'sql_idx': 219, 'res': 0}
Result received for query pair 222: {'sql_idx': 222, 'res': 1}
Result received for query pair 217: {'sql_idx': 217, 'res': 0}
Result received for query pair 225: {'sql_idx': 225, 'res': 0}
Result received for query pair 223: {'sql_idx': 223, 'res': 0}
Result received for query pair 226: {'sql_idx': 226, 'res': 0}
Result received for query pair 228: {'sql_idx': 228, 'res': 0}
Result received for query pair 227: {'sql_idx': 227, 'res': 0}
Result received for query pair 229: {'sql_idx': 229, 'res': 1}
Result received for query pair 230: {'sql_idx': 230, 'res': 1}
Result received for query pair 224: {'sql_idx': 224, 'res': 1}
Result received for query pair 231: {'sql_idx': 231, 'res': 0}
Result received for query pair 234: {'sql_idx': 234, 'res': 0}
Result received for query pair 235: {'sql_idx': 235, 'res': 1}
Result received for query pair 236: {'sql_idx': 236, 'res': 1}
Result received for query pair 237: {'sql_idx': 237, 'res': 0}
Result received for query pair 238: {'sql_idx': 238, 'res': 1}
Result received for query pair 233: {'sql_idx': 233, 'res': 0}
Result received for query pair 240: {'sql_idx': 240, 'res': 1}
Result received for query pair 241: {'sql_idx': 241, 'res': 1}
Result received for query pair 232: {'sql_idx': 232, 'res': 0}
Result received for query pair 239: {'sql_idx': 239, 'res': 0}
Result received for query pair 243: {'sql_idx': 243, 'res': 0}
Result received for query pair 245: {'sql_idx': 245, 'res': 0}
Result received for query pair 244: {'sql_idx': 244, 'res': 0}
Result received for query pair 246: {'sql_idx': 246, 'res': 0}
Result received for query pair 242: {'sql_idx': 242, 'res': 0}
Result received for query pair 249: {'sql_idx': 249, 'res': 1}
Result received for query pair 250: {'sql_idx': 250, 'res': 0}
Result received for query pair 215: {'sql_idx': 215, 'res': 0}
Result received for query pair 248: {'sql_idx': 248, 'res': 0}
Result received for query pair 247: {'sql_idx': 247, 'res': 0}
Result received for query pair 254: {'sql_idx': 254, 'res': 0}
Result received for query pair 251: {'sql_idx': 251, 'res': 0}
Result received for query pair 256: {'sql_idx': 256, 'res': 1}
Result received for query pair 255: {'sql_idx': 255, 'res': 0}
Result received for query pair 257: {'sql_idx': 257, 'res': 1}
Result received for query pair 252: {'sql_idx': 252, 'res': 0}
Result received for query pair 253: {'sql_idx': 253, 'res': 0}
Result received for query pair 260: {'sql_idx': 260, 'res': 1}
Result received for query pair 261: {'sql_idx': 261, 'res': 1}
Result received for query pair 258: {'sql_idx': 258, 'res': 0}
Result received for query pair 264: {'sql_idx': 264, 'res': 0}
Result received for query pair 262: {'sql_idx': 262, 'res': 1}
Result received for query pair 266: {'sql_idx': 266, 'res': 1}
Result received for query pair 267: {'sql_idx': 267, 'res': 0}
Result received for query pair 170: {'sql_idx': 170, 'res': 0}
Result received for query pair 269: {'sql_idx': 269, 'res': 0}
Result received for query pair 270: {'sql_idx': 270, 'res': 0}
Result received for query pair 271: {'sql_idx': 271, 'res': 0}
Result received for query pair 272: {'sql_idx': 272, 'res': 1}
Result received for query pair 273: {'sql_idx': 273, 'res': 1}
Result received for query pair 274: {'sql_idx': 274, 'res': 1}
Result received for query pair 275: {'sql_idx': 275, 'res': 0}
Result received for query pair 268: {'sql_idx': 268, 'res': 0}
Result received for query pair 277: {'sql_idx': 277, 'res': 1}
Result received for query pair 276: {'sql_idx': 276, 'res': 0}
Result received for query pair 279: {'sql_idx': 279, 'res': 1}
Result received for query pair 278: {'sql_idx': 278, 'res': 1}
Result received for query pair 280: {'sql_idx': 280, 'res': 0}
Result received for query pair 282: {'sql_idx': 282, 'res': 0}
Result received for query pair 283: {'sql_idx': 283, 'res': 1}
Result received for query pair 281: {'sql_idx': 281, 'res': 0}
Result received for query pair 285: {'sql_idx': 285, 'res': 1}
Result received for query pair 284: {'sql_idx': 284, 'res': 0}
Result received for query pair 287: {'sql_idx': 287, 'res': 0}
Result received for query pair 288: {'sql_idx': 288, 'res': 0}
Result received for query pair 289: {'sql_idx': 289, 'res': 0}
Result received for query pair 286: {'sql_idx': 286, 'res': 0}
Result received for query pair 291: {'sql_idx': 291, 'res': 1}
Result received for query pair 290: {'sql_idx': 290, 'res': 0}
Result received for query pair 292: {'sql_idx': 292, 'res': 0}
Result received for query pair 293: {'sql_idx': 293, 'res': 1}
Result received for query pair 294: {'sql_idx': 294, 'res': 0}
Result received for query pair 295: {'sql_idx': 295, 'res': 1}
Result received for query pair 297: {'sql_idx': 297, 'res': 0}
Result received for query pair 298: {'sql_idx': 298, 'res': 0}
Result received for query pair 265: {'sql_idx': 265, 'res': 1}
Result received for query pair 299: {'sql_idx': 299, 'res': 0}
Result received for query pair 296: {'sql_idx': 296, 'res': 0}
Result received for query pair 301: {'sql_idx': 301, 'res': 0}
Result received for query pair 300: {'sql_idx': 300, 'res': 1}
Result received for query pair 302: {'sql_idx': 302, 'res': 1}
Result received for query pair 303: {'sql_idx': 303, 'res': 0}
Result received for query pair 306: {'sql_idx': 306, 'res': 0}
Result received for query pair 304: {'sql_idx': 304, 'res': 0}
Result received for query pair 179: {'sql_idx': 179, 'res': 0}
Result received for query pair 307: {'sql_idx': 307, 'res': 1}
Result received for query pair 309: {'sql_idx': 309, 'res': 0}
Result received for query pair 310: {'sql_idx': 310, 'res': 0}
Result received for query pair 312: {'sql_idx': 312, 'res': 1}
Result received for query pair 259: {'sql_idx': 259, 'res': 0}
Result received for query pair 313: {'sql_idx': 313, 'res': 1}
Result received for query pair 315: {'sql_idx': 315, 'res': 0}
Result received for query pair 314: {'sql_idx': 314, 'res': 1}
Result received for query pair 316: {'sql_idx': 316, 'res': 0}
Result received for query pair 317: {'sql_idx': 317, 'res': 0}
Result received for query pair 308: {'sql_idx': 308, 'res': 0}
Result received for query pair 318: {'sql_idx': 318, 'res': 1}
Result received for query pair 320: {'sql_idx': 320, 'res': 1}
Result received for query pair 321: {'sql_idx': 321, 'res': 0}
Result received for query pair 322: {'sql_idx': 322, 'res': 1}
Result received for query pair 323: {'sql_idx': 323, 'res': 0}
Result received for query pair 324: {'sql_idx': 324, 'res': 0}
Result received for query pair 319: {'sql_idx': 319, 'res': 0}

## 5-Shot "random" Experiment

In [12]:
# Instantiate a 5-shot random prompt factory using Question Masked Euclidean Distance selection

prompt = prompt_factory(k_shot = 5, repr_type= "SQL", example_format= "QA", selector_type= "RANDOM", embedding_model= None)(data=data, tokenizer="gpt-3.5-turbo")

In [13]:
# Format all BIRD test questions for 5-shot GPT-3.5-Turbo Text-to-SQL conversion

questions = list()

for i, question_json in enumerate(tqdm(getattr(data, "get_test_json")()), start=1):
    
    question_format = prompt.format(index = i,
                            target=question_json,
                            max_seq_len=2048,
                            max_ans_len =200,
                            scope_factor=100)
    
    questions.append(question_format)

100%|██████████| 1534/1534 [05:57<00:00,  4.29it/s]

In [14]:
# List the model parameters used across the BIRD experiment
args = {
    "data_type": "bird",
    "split": "test",
    "tokenizer": "gpt-3.5-turbo",
    "max_seq_length": 2048,
    "prompt_repr": "SQL",
    "k-shot": 5,
    "example_type": "QA",
    "selector_type": "RANDOM",
    "embedding_model": None
}

# Define the task dictionary to save the formatted questions and metadata of the BIRD experiment
task = {
        "args": args,
        "questions": questions
    }

# Save the 5-shot random BIRD prompts to .json file for processing
OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","5-shot")
os.makedirs(OUT_DIR, exist_ok =True)

PROMPTS_FILE = os.path.join(OUT_DIR,"random-prompts-5.json")
json.dump(task, open(PROMPTS_FILE, "w"), indent=4)

In [ ]:
# Send the formatted prompts to the GPT-3.5-TURBO model for response generation

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","5-shot")

RESPONSES_FILE = os.path.join(OUT_DIR,"random-responses-5.txt")

run_llm(PROMPTS_FILE, RESPONSES_FILE, model="gpt-3.5-turbo")

In [ ]:
# Reformat the GPT-3.5-Responses file for use in the BIRD evaluation script

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","5-shot")

RESPONSES_FILE = os.path.join(OUT_DIR,"random-responses-5.txt")

OUT_FILE = os.path.join(OUT_DIR,"random-responses-5.json")

reformat_responses(PROMPTS_FILE, RESPONSES_FILE, OUT_FILE)

In [15]:
# Evaluate the generated GPT-3.5-Turbo responses and save results to file

OUT_DIR = os.path.join("chapter-3","results","bird","random-experiments","5-shot")

PROMPTS_FILE = os.path.join(OUT_DIR,"random-prompts-5.json")
RESPONSES_TXT = os.path.join(OUT_DIR,"random-responses-5.txt")
RESPONSES_JSON = os.path.join(OUT_DIR,"random-responses-5.json")
RESULTS_FILE = os.path.join(OUT_DIR,"random-results-5.json")

results = evaluate_bird(gold="benchmarks/bird/dev.sql", 
                        pred=RESPONSES_JSON, 
                        db="benchmarks/bird/databases/", 
                        diff_json_path="benchmarks/bird/dev.json",
                        data_mode='dev',
                        num_cpus= multiprocessing.cpu_count())

save_results(PROMPTS_FILE, RESPONSES_TXT, RESULTS_FILE, results)

Result received for query pair 1: {'sql_idx': 1, 'res': 0}
Result received for query pair 5: {'sql_idx': 5, 'res': 0}
Result received for query pair 9: {'sql_idx': 9, 'res': 0}
Result received for query pair 10: {'sql_idx': 10, 'res': 0}
Result received for query pair 6: {'sql_idx': 6, 'res': 0}
Result received for query pair 7: {'sql_idx': 7, 'res': 1}
Result received for query pair 12: {'sql_idx': 12, 'res': 0}
Result received for query pair 0: {'sql_idx': 0, 'res': 0}
Result received for query pair 15: {'sql_idx': 15, 'res': 0}
Result received for query pair 3: {'sql_idx': 3, 'res': 0}
Result received for query pair 8: {'sql_idx': 8, 'res': 1}
Result received for query pair 17: {'sql_idx': 17, 'res': 1}
Result received for query pair 19: {'sql_idx': 19, 'res': 0}
Result received for query pair 11: {'sql_idx': 11, 'res': 1}
Result received for query pair 20: {'sql_idx': 20, 'res': 0}
Result received for query pair 22: {'sql_idx': 22, 'res': 0}
Result received for query pair 21: {'sql_idx': 21, 'res': 0}
Result received for query pair 24: {'sql_idx': 24, 'res': 0}
Result received for query pair 13: {'sql_idx': 13, 'res': 0}
Result received for query pair 14: {'sql_idx': 14, 'res': 0}
Result received for query pair 27: {'sql_idx': 27, 'res': 0}
Result received for query pair 28: {'sql_idx': 28, 'res': 0}
Result received for query pair 29: {'sql_idx': 29, 'res': 0}
Result received for query pair 2: {'sql_idx': 2, 'res': 0}
Result received for query pair 31: {'sql_idx': 31, 'res': 0}
Result received for query pair 18: {'sql_idx': 18, 'res': 1}
Result received for query pair 32: {'sql_idx': 32, 'res': 0}
Result received for query pair 25: {'sql_idx': 25, 'res': 0}
Result received for query pair 4: {'sql_idx': 4, 'res': 0}
Result received for query pair 36: {'sql_idx': 36, 'res': 0}
Result received for query pair 16: {'sql_idx': 16, 'res': 1}
Result received for query pair 33: {'sql_idx': 33, 'res': 0}
Result received for query pair 35: {'sql_idx': 35, 'res': 0}
Result received for query pair 40: {'sql_idx': 40, 'res': 0}
Result received for query pair 41: {'sql_idx': 41, 'res': 0}
Result received for query pair 42: {'sql_idx': 42, 'res': 0}
Result received for query pair 43: {'sql_idx': 43, 'res': 0}
Result received for query pair 23: {'sql_idx': 23, 'res': 0}
Result received for query pair 34: {'sql_idx': 34, 'res': 0}
Result received for query pair 26: {'sql_idx': 26, 'res': 0}
Result received for query pair 46: {'sql_idx': 46, 'res': 0}
Result received for query pair 44: {'sql_idx': 44, 'res': 1}
Result received for query pair 37: {'sql_idx': 37, 'res': 1}
Result received for query pair 38: {'sql_idx': 38, 'res': 1}
Result received for query pair 30: {'sql_idx': 30, 'res': 0}
Result received for query pair 51: {'sql_idx': 51, 'res': 0}
Result received for query pair 39: {'sql_idx': 39, 'res': 0}
Result received for query pair 50: {'sql_idx': 50, 'res': 1}
Result received for query pair 54: {'sql_idx': 54, 'res': 0}
Result received for query pair 47: {'sql_idx': 47, 'res': 0}
Result received for query pair 45: {'sql_idx': 45, 'res': 1}
Result received for query pair 57: {'sql_idx': 57, 'res': 0}
Result received for query pair 52: {'sql_idx': 52, 'res': 1}
Result received for query pair 53: {'sql_idx': 53, 'res': 0}
Result received for query pair 49: {'sql_idx': 49, 'res': 0}
Result received for query pair 58: {'sql_idx': 58, 'res': 1}
Result received for query pair 63: {'sql_idx': 63, 'res': 0}
Result received for query pair 56: {'sql_idx': 56, 'res': 0}
Result received for query pair 55: {'sql_idx': 55, 'res': 0}
Result received for query pair 60: {'sql_idx': 60, 'res': 1}
Result received for query pair 67: {'sql_idx': 67, 'res': 0}
Result received for query pair 59: {'sql_idx': 59, 'res': 1}
Result received for query pair 65: {'sql_idx': 65, 'res': 0}
Result received for query pair 61: {'sql_idx': 61, 'res': 1}
Result received for query pair 64: {'sql_idx': 64, 'res': 1}
Result received for query pair 72: {'sql_idx': 72, 'res': 0}
Result received for query pair 73: {'sql_idx': 73, 'res': 0}
Result received for query pair 62: {'sql_idx': 62, 'res': 0}
Result received for query pair 74: {'sql_idx': 74, 'res': 0}
Result received for query pair 76: {'sql_idx': 76, 'res': 0}
Result received for query pair 66: {'sql_idx': 66, 'res': 0}
Result received for query pair 75: {'sql_idx': 75, 'res': 0}
Result received for query pair 70: {'sql_idx': 70, 'res': 0}
Result received for query pair 80: {'sql_idx': 80, 'res': 0}
Result received for query pair 69: {'sql_idx': 69, 'res': 1}
Result received for query pair 82: {'sql_idx': 82, 'res': 0}
Result received for query pair 83: {'sql_idx': 83, 'res': 0}
Result received for query pair 81: {'sql_idx': 81, 'res': 0}
Result received for query pair 71: {'sql_idx': 71, 'res': 0}
Result received for query pair 68: {'sql_idx': 68, 'res': 0}
Result received for query pair 85: {'sql_idx': 85, 'res': 0}
Result received for query pair 86: {'sql_idx': 86, 'res': 0}
Result received for query pair 88: {'sql_idx': 88, 'res': 0}
Result received for query pair 77: {'sql_idx': 77, 'res': 0}
Result received for query pair 91: {'sql_idx': 91, 'res': 0}
Result received for query pair 79: {'sql_idx': 79, 'res': 0}
Result received for query pair 78: {'sql_idx': 78, 'res': 0}
Result received for query pair 94: {'sql_idx': 94, 'res': 0}
Result received for query pair 95: {'sql_idx': 95, 'res': 0}
Result received for query pair 89: {'sql_idx': 89, 'res': 1}
Result received for query pair 93: {'sql_idx': 93, 'res': 1}
Result received for query pair 92: {'sql_idx': 92, 'res': 0}
Result received for query pair 97: {'sql_idx': 97, 'res': 0}
Result received for query pair 90: {'sql_idx': 90, 'res': 0}
Result received for query pair 98: {'sql_idx': 98, 'res': 0}
Result received for query pair 87: {'sql_idx': 87, 'res': 0}
Result received for query pair 96: {'sql_idx': 96, 'res': 1}
Result received for query pair 99: {'sql_idx': 99, 'res': 0}
Result received for query pair 105: {'sql_idx': 105, 'res': 1}
Result received for query pair 100: {'sql_idx': 100, 'res': 1}
Result received for query pair 103: {'sql_idx': 103, 'res': 1}
Result received for query pair 107: {'sql_idx': 107, 'res': 0}
Result received for query pair 109: {'sql_idx': 109, 'res': 1}
Result received for query pair 84: {'sql_idx': 84, 'res': 0}
Result received for query pair 111: {'sql_idx': 111, 'res': 1}
Result received for query pair 112: {'sql_idx': 112, 'res': 1}
Result received for query pair 113: {'sql_idx': 113, 'res': 0}
Result received for query pair 114: {'sql_idx': 114, 'res': 0}
Result received for query pair 115: {'sql_idx': 115, 'res': 0}
Result received for query pair 48: {'sql_idx': 48, 'res': 0}
Result received for query pair 117: {'sql_idx': 117, 'res': 1}
Result received for query pair 118: {'sql_idx': 118, 'res': 0}
Result received for query pair 119: {'sql_idx': 119, 'res': 0}
Result received for query pair 120: {'sql_idx': 120, 'res': 0}
Result received for query pair 121: {'sql_idx': 121, 'res': 1}
Result received for query pair 122: {'sql_idx': 122, 'res': 0}
Result received for query pair 123: {'sql_idx': 123, 'res': 0}
Result received for query pair 124: {'sql_idx': 124, 'res': 0}
Result received for query pair 125: {'sql_idx': 125, 'res': 0}
Result received for query pair 126: {'sql_idx': 126, 'res': 1}
Result received for query pair 127: {'sql_idx': 127, 'res': 1}
Result received for query pair 128: {'sql_idx': 128, 'res': 0}
Result received for query pair 104: {'sql_idx': 104, 'res': 1}
Result received for query pair 130: {'sql_idx': 130, 'res': 0}
Result received for query pair 131: {'sql_idx': 131, 'res': 1}
Result received for query pair 132: {'sql_idx': 132, 'res': 0}
Result received for query pair 133: {'sql_idx': 133, 'res': 0}
Result received for query pair 134: {'sql_idx': 134, 'res': 0}
Result received for query pair 101: {'sql_idx': 101, 'res': 0}
Result received for query pair 136: {'sql_idx': 136, 'res': 0}
Result received for query pair 137: {'sql_idx': 137, 'res': 1}
Result received for query pair 138: {'sql_idx': 138, 'res': 1}
Result received for query pair 110: {'sql_idx': 110, 'res': 1}
Result received for query pair 140: {'sql_idx': 140, 'res': 1}
Result received for query pair 139: {'sql_idx': 139, 'res': 1}
Result received for query pair 129: {'sql_idx': 129, 'res': 0}
Result received for query pair 143: {'sql_idx': 143, 'res': 0}
Result received for query pair 144: {'sql_idx': 144, 'res': 0}
Result received for query pair 145: {'sql_idx': 145, 'res': 0}
Result received for query pair 146: {'sql_idx': 146, 'res': 0}
Result received for query pair 147: {'sql_idx': 147, 'res': 0}
Result received for query pair 148: {'sql_idx': 148, 'res': 1}
Result received for query pair 149: {'sql_idx': 149, 'res': 0}
Result received for query pair 142: {'sql_idx': 142, 'res': 0}
Result received for query pair 135: {'sql_idx': 135, 'res': 1}
Result received for query pair 152: {'sql_idx': 152, 'res': 0}
Result received for query pair 153: {'sql_idx': 153, 'res': 0}
Result received for query pair 154: {'sql_idx': 154, 'res': 1}
Result received for query pair 155: {'sql_idx': 155, 'res': 0}
Result received for query pair 156: {'sql_idx': 156, 'res': 0}
Result received for query pair 157: {'sql_idx': 157, 'res': 0}
Result received for query pair 158: {'sql_idx': 158, 'res': 1}
Result received for query pair 150: {'sql_idx': 150, 'res': 0}
Result received for query pair 160: {'sql_idx': 160, 'res': 1}
Result received for query pair 161: {'sql_idx': 161, 'res': 0}
Result received for query pair 162: {'sql_idx': 162, 'res': 0}
Result received for query pair 163: {'sql_idx': 163, 'res': 0}
Result received for query pair 164: {'sql_idx': 164, 'res': 0}
Result received for query pair 106: {'sql_idx': 106, 'res': 0}
Result received for query pair 166: {'sql_idx': 166, 'res': 1}
Result received for query pair 167: {'sql_idx': 167, 'res': 1}
Result received for query pair 168: {'sql_idx': 168, 'res': 0}
Result received for query pair 169: {'sql_idx': 169, 'res': 0}
Result received for query pair 102: {'sql_idx': 102, 'res': 0}
Result received for query pair 171: {'sql_idx': 171, 'res': 0}
Result received for query pair 172: {'sql_idx': 172, 'res': 0}
Result received for query pair 173: {'sql_idx': 173, 'res': 0}
Result received for query pair 174: {'sql_idx': 174, 'res': 0}
Result received for query pair 175: {'sql_idx': 175, 'res': 0}
Result received for query pair 176: {'sql_idx': 176, 'res': 0}
Result received for query pair 177: {'sql_idx': 177, 'res': 0}
Result received for query pair 178: {'sql_idx': 178, 'res': 0}
Result received for query pair 159: {'sql_idx': 159, 'res': 0}
Result received for query pair 180: {'sql_idx': 180, 'res': 0}
Result received for query pair 165: {'sql_idx': 165, 'res': 0}
Result received for query pair 181: {'sql_idx': 181, 'res': 0}
Result received for query pair 183: {'sql_idx': 183, 'res': 0}
Result received for query pair 184: {'sql_idx': 184, 'res': 0}
Result received for query pair 185: {'sql_idx': 185, 'res': 0}
Result received for query pair 186: {'sql_idx': 186, 'res': 0}
Result received for query pair 187: {'sql_idx': 187, 'res': 1}
Result received for query pair 188: {'sql_idx': 188, 'res': 0}
Result received for query pair 189: {'sql_idx': 189, 'res': 0}
Result received for query pair 190: {'sql_idx': 190, 'res': 1}
Result received for query pair 191: {'sql_idx': 191, 'res': 1}
Result received for query pair 192: {'sql_idx': 192, 'res': 0}
Result received for query pair 193: {'sql_idx': 193, 'res': 0}
Result received for query pair 194: {'sql_idx': 194, 'res': 0}
Result received for query pair 141: {'sql_idx': 141, 'res': 0}
Result received for query pair 116: {'sql_idx': 116, 'res': 0}
Result received for query pair 197: {'sql_idx': 197, 'res': 0}
Result received for query pair 196: {'sql_idx': 196, 'res': 1}
Result received for query pair 199: {'sql_idx': 199, 'res': 0}
Result received for query pair 200: {'sql_idx': 200, 'res': 1}
Result received for query pair 195: {'sql_idx': 195, 'res': 0}
Result received for query pair 202: {'sql_idx': 202, 'res': 1}
Result received for query pair 203: {'sql_idx': 203, 'res': 1}
Result received for query pair 204: {'sql_idx': 204, 'res': 1}
Result received for query pair 205: {'sql_idx': 205, 'res': 0}
Result received for query pair 201: {'sql_idx': 201, 'res': 0}
Result received for query pair 206: {'sql_idx': 206, 'res': 1}
Result received for query pair 208: {'sql_idx': 208, 'res': 1}
Result received for query pair 207: {'sql_idx': 207, 'res': 0}
Result received for query pair 210: {'sql_idx': 210, 'res': 0}
Result received for query pair 209: {'sql_idx': 209, 'res': 0}
Result received for query pair 212: {'sql_idx': 212, 'res': 0}
Result received for query pair 213: {'sql_idx': 213, 'res': 1}
Result received for query pair 214: {'sql_idx': 214, 'res': 0}
Result received for query pair 182: {'sql_idx': 182, 'res': 0}
Result received for query pair 216: {'sql_idx': 216, 'res': 0}
Result received for query pair 217: {'sql_idx': 217, 'res': 0}
Result received for query pair 218: {'sql_idx': 218, 'res': 0}
Result received for query pair 215: {'sql_idx': 215, 'res': 0}
Result received for query pair 220: {'sql_idx': 220, 'res': 0}
Result received for query pair 219: {'sql_idx': 219, 'res': 0}
Result received for query pair 222: {'sql_idx': 222, 'res': 1}
Result received for query pair 223: {'sql_idx': 223, 'res': 0}
Result received for query pair 211: {'sql_idx': 211, 'res': 0}
Result received for query pair 221: {'sql_idx': 221, 'res': 0}
Result received for query pair 225: {'sql_idx': 225, 'res': 0}
Result received for query pair 227: {'sql_idx': 227, 'res': 0}
Result received for query pair 228: {'sql_idx': 228, 'res': 0}
Result received for query pair 226: {'sql_idx': 226, 'res': 0}
Result received for query pair 229: {'sql_idx': 229, 'res': 1}
Result received for query pair 231: {'sql_idx': 231, 'res': 0}
Result received for query pair 224: {'sql_idx': 224, 'res': 1}
Result received for query pair 198: {'sql_idx': 198, 'res': 0}
Result received for query pair 233: {'sql_idx': 233, 'res': 0}
Result received for query pair 235: {'sql_idx': 235, 'res': 0}
Result received for query pair 170: {'sql_idx': 170, 'res': 0}
Result received for query pair 230: {'sql_idx': 230, 'res': 0}
Result received for query pair 237: {'sql_idx': 237, 'res': 0}
Result received for query pair 234: {'sql_idx': 234, 'res': 0}
Result received for query pair 238: {'sql_idx': 238, 'res': 1}
Result received for query pair 241: {'sql_idx': 241, 'res': 1}
Result received for query pair 240: {'sql_idx': 240, 'res': 1}
Result received for query pair 236: {'sql_idx': 236, 'res': 1}
Result received for query pair 244: {'sql_idx': 244, 'res': 0}
Result received for query pair 242: {'sql_idx': 242, 'res': 0}
Result received for query pair 239: {'sql_idx': 239, 'res': 0}
Result received for query pair 246: {'sql_idx': 246, 'res': 0}
Result received for query pair 245: {'sql_idx': 245, 'res': 0}
Result received for query pair 232: {'sql_idx': 232, 'res': 0}
Result received for query pair 250: {'sql_idx': 250, 'res': 0}
Result received for query pair 249: {'sql_idx': 249, 'res': 1}
Result received for query pair 243: {'sql_idx': 243, 'res': 0}
Result received for query pair 253: {'sql_idx': 253, 'res': 0}
Result received for query pair 252: {'sql_idx': 252, 'res': 0}
Result received for query pair 255: {'sql_idx': 255, 'res': 0}
Result received for query pair 248: {'sql_idx': 248, 'res': 0}
Result received for query pair 251: {'sql_idx': 251, 'res': 0}
Result received for query pair 247: {'sql_idx': 247, 'res': 0}
Result received for query pair 256: {'sql_idx': 256, 'res': 1}
Result received for query pair 257: {'sql_idx': 257, 'res': 1}
Result received for query pair 261: {'sql_idx': 261, 'res': 1}
Result received for query pair 262: {'sql_idx': 262, 'res': 0}
Result received for query pair 263: {'sql_idx': 263, 'res': 0}
Result received for query pair 264: {'sql_idx': 264, 'res': 0}
Result received for query pair 260: {'sql_idx': 260, 'res': 1}
Result received for query pair 265: {'sql_idx': 265, 'res': 1}
Result received for query pair 266: {'sql_idx': 266, 'res': 1}
Result received for query pair 268: {'sql_idx': 268, 'res': 0}
Result received for query pair 267: {'sql_idx': 267, 'res': 0}
Result received for query pair 254: {'sql_idx': 254, 'res': 0}
Result received for query pair 270: {'sql_idx': 270, 'res': 0}
Result received for query pair 269: {'sql_idx': 269, 'res': 0}
Result received for query pair 258: {'sql_idx': 258, 'res': 0}
Result received for query pair 273: {'sql_idx': 273, 'res': 0}
Result received for query pair 271: {'sql_idx': 271, 'res': 0}
Result received for query pair 275: {'sql_idx': 275, 'res': 0}
Result received for query pair 274: {'sql_idx': 274, 'res': 1}
Result received for query pair 272: {'sql_idx': 272, 'res': 1}
Result received for query pair 279: {'sql_idx': 279, 'res': 1}
Result received for query pair 277: {'sql_idx': 277, 'res': 0}
Result received for query pair 278: {'sql_idx': 278, 'res': 1}
Result received for query pair 282: {'sql_idx': 282, 'res': 0}
Result received for query pair 283: {'sql_idx': 283, 'res': 1}
Result received for query pair 280: {'sql_idx': 280, 'res': 0}
Result received for query pair 281: {'sql_idx': 281, 'res': 0}
Result received for query pair 285: {'sql_idx': 285, 'res': 1}
Result received for query pair 287: {'sql_idx': 287, 'res': 0}
Result received for query pair 284: {'sql_idx': 284, 'res': 0}
Result received for query pair 289: {'sql_idx': 289, 'res': 0}
Result received for query pair 286: {'sql_idx': 286, 'res': 0}
Result received for query pair 288: {'sql_idx': 288, 'res': 1}
Result received for query pair 291: {'sql_idx': 291, 'res': 1}
Result received for query pair 290: {'sql_idx': 290, 'res': 0}
Result received for query pair 294: {'sql_idx': 294, 'res': 0}
Result received for query pair 292: {'sql_idx': 292, 'res': 0}
Result received for query pair 293: {'sql_idx': 293, 'res': 1}
Result received for query pair 295: {'sql_idx': 295, 'res': 0}
Result received for query pair 151: {'sql_idx': 151, 'res': 1}
Result received for query pair 298: {'sql_idx': 298, 'res': 0}
Result received for query pair 299: {'sql_idx': 299, 'res': 0}
Result received for query pair 301: {'sql_idx': 301, 'res': 0}
Result received for query pair 297: {'sql_idx': 297, 'res': 0}
Result received for query pair 300: {'sql_idx': 300, 'res': 0}
Result received for query pair 303: {'sql_idx': 303, 'res': 0}
Result received for query pair 276: {'sql_idx': 276, 'res': 0}
Result received for query pair 306: {'sql_idx': 306, 'res': 0}
Result received for query pair 302: {'sql_idx': 302, 'res': 1}
Result received for query pair 307: {'sql_idx': 307, 'res': 1}
Result received for query pair 304: {'sql_idx': 304, 'res': 0}
Result received for query pair 309: {'sql_idx': 309, 'res': 0}
Result received for query pair 296: {'sql_idx': 296, 'res': 0}
Result received for query pair 310: {'sql_idx': 310, 'res': 0}
Result received for query pair 312: {'sql_idx': 312, 'res': 1}
Result received for query pair 313: {'sql_idx': 313, 'res': 1}
Result received for query pair 314: {'sql_idx': 314, 'res': 1}
Result received for query pair 315: {'sql_idx': 315, 'res': 0}
Result received for query pair 317: {'sql_idx': 317, 'res': 0}
Result received for query pair 316: {'sql_idx': 316, 'res': 0}
Result received for query pair 318: {'sql_idx': 318, 'res': 1}
Result received for query pair 320: {'sql_idx': 320, 'res': 1}
Result received for query pair 321: {'sql_idx': 321, 'res': 0}
Result received for query pair 322: {'sql_idx': 322, 'res': 1}
Result received for query pair 323: {'sql_idx': 323, 'res': 0}
Result received for query pair 319: {'sql_idx': 319, 'res': 0}
Result received for query pair 324: {'sql_idx': 324, 'res': 0}
Result received for query pair 308: {'sql_idx': 308, 'res': 0}